@charset "UTF-8";
body {
  color: #333;
  font-weight: 400;
  font-family: "Noto Sans TC", sans-serif;
}
body .container {
  padding: 1.25rem 0;
}
body .en-caveat {
  font-family: "Caveat", cursive;
}
body img {
  width: 100%;
}
body a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#section01,
#section02,
#section03,
#section04,
#section05,
.aboutMeWrap {
  position: relative;
}

#home {
  height: 100vh;
}

main {
  margin-top: 4.563rem;
}

header .container, .article01 .container, .article02 .container, .article04 .container {
  padding: 2.5rem 1.25rem;
}
@media (min-width: 576px) {
  header .container, .article01 .container, .article02 .container, .article04 .container {
    padding: 2.5rem 0;
  }
}
@media (min-width: 992px) {
  header .container, .article01 .container, .article02 .container, .article04 .container {
    padding: 6.875rem 0;
  }
}

/* navbar導覽列 --------------------------------------------------------------------------------------- */
.dianNav {
  background: #fff;
  font-family: "Noto Sans TC", sans-serif;
}
.dianNav .container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.dianNav .sidebar {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dianNav .nav-link {
  font-size: 1.125rem;
  text-align: center;
  color: #575756;
  padding-left: 1rem;
  padding-right: 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.dianNav .nav-link:hover {
  color: #fff;
  background: #B07F6B;
}
.dianNav .nav-link:active {
  font-weight: bolder;
  color: #fff;
  background: #B07F6B;
}
@media (min-width: 768px) {
  .dianNav .sidebar {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.dianNavbar {
  background: #fff;
}
.dianNavbar .collapse {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.dianNavbar .container {
  padding: 0 1.25rem;
}
@media (min-width: 576px) {
  .dianNavbar .container {
    padding: 0;
  }
}

/* home --------------------------------------------------- */
#home {
  margin-top: 63px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
#home::before {
  content: "";
  width: 280px;
  height: 280px;
  background: #F3D9CF;
  position: absolute;
  right: 0;
  top: 55%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  z-index: -1;
}
#home .info {
  width: auto;
  font-weight: 700;
  margin-bottom: 1rem;
}
#home .info h1 {
  line-height: 3rem;
}
#home .info h1 span {
  font-size: 1.6rem;
}
#home .info .sayHi {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(87, 87, 86, 0.7);
}
#home .info .jobTitle {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2;
}
#home .info .quote {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(87, 87, 86, 0.7);
}
#home .dianImg {
  width: 280px;
  height: 280px;
  background: url("../images/dianImg.jpg") no-repeat center/100%;
  border-radius: 50%;
}
#home .material-icons {
  width: 100%;
  font-size: 2rem;
  text-align: center;
  color: #9D9D9C;
  position: relative;
  margin-top: 5rem;
}
#home .material-icons::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2.5px solid rgba(157, 157, 156, 0.6);
}
#home .jobName {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(87, 87, 86, 0.05);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
@media (min-width: 768px) {
  #home::before {
    width: 320px;
    height: 320px;
    top: 52%;
  }
  #home .info {
    padding-bottom: 1rem;
  }
  #home .dianImg {
    width: 320px;
    height: 320px;
  }
  #home .jobName {
    font-size: 6rem;
  }
}
@media (min-width: 992px) {
  #home {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #home::before {
    content: "";
    width: 30%;
    height: 100vh;
    background: rgba(243, 217, 207, 0.7);
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 0;
    z-index: -1;
  }
  #home .info {
    width: 35%;
    margin-bottom: 0;
  }
  #home .info h1 {
    font-size: 3rem;
  }
  #home .info h1 span {
    font-size: 2.4rem;
  }
  #home .info .jobTitle {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  #home .info .sayHi {
    font-size: 1.8rem;
  }
  #home .info .quote {
    font-size: 1.2rem;
  }
  #home .dianImg {
    width: 370px;
    height: 370px;
  }
  #home .jobName {
    font-size: 8rem;
    color: rgba(87, 87, 86, 0.1);
  }
}
@media (min-width: 1200px) {
  #home .info h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  #home .info .quote {
    font-size: 1.6rem;
  }
  #home .dianImg {
    width: 400px;
    height: 400px;
  }
  #home .jobName {
    font-size: 10rem;
  }
}

/* section01 About Me--------------------------------------------------------------------------------------- */
#section01 .aboutMeImg {
  display: none;
}
#section01 .aboutMe {
  padding: 1.8rem;
}
#section01 .aboutMe .aboutQuote {
  height: 3rem;
  color: #B07F6B;
  font-size: 1.6rem;
  background: rgba(243, 217, 207, 0.5);
  margin-bottom: 1.8rem;
  text-align: center;
  line-height: 3rem;
  border-radius: 30px;
}
#section01 .aboutMe .aboutQuote .fa-quote-left {
  font-size: 1.4rem;
  position: absolute;
  left: 30px;
  top: 20px;
}
#section01 .aboutMe .aboutQuote .fa-quote-right {
  font-size: 1.4rem;
  position: absolute;
  right: 30px;
  top: 70px;
}
#section01 .aboutMe .aboutInfo {
  font-size: 1rem;
  color: #575756;
  margin-bottom: 1rem;
}
#section01 .aboutMe .aboutMeBtn {
  font-size: 0.8rem;
  margin-top: 1rem;
}
#section01 .aboutMe .aboutMeBtn a {
  text-decoration: none;
  padding: 10px 20px;
  background: #B07F6B;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}
#section01 .aboutMe .aboutJob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#section01 .aboutMe .aboutJob .jobBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.6rem 0;
  border-bottom: 1.7px solid rgba(243, 217, 207, 0.8);
}
#section01 .aboutMe .aboutJob .jobBox:nth-child(3) {
  border-bottom: none;
}
#section01 .aboutMe .aboutJob .jobBox .year {
  font-weight: 300;
}
#section01 .aboutMe .aboutJob .jobBox .year h5 {
  font-size: 1rem;
  color: rgba(87, 87, 86, 0.5);
}
#section01 .aboutMe .aboutJob .jobBox .text h4 {
  font-size: 1.2rem;
  color: #B07F6B;
}
#section01 .aboutMe .aboutJob .jobBox .text p {
  font-size: 1rem;
  color: rgba(87, 87, 86, 0.85);
}
@media (min-width: 768px) {
  #section01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #section01 .aboutMeImg {
    display: block;
    width: 100vw;
    height: 50vh;
    background: #333 url("../images/dainphoto.jpg") no-repeat center/100%;
  }
  #section01 .aboutMe {
    padding: 1.8rem 3rem;
  }
  #section01 .aboutMe .aboutInfo {
    font-size: 0.8rem;
  }
  #section01 .aboutMe .aboutQuote {
    font-size: 1.8rem;
    font-weight: 500;
    height: 3.5rem;
    line-height: 3.5rem;
  }
  #section01 .aboutMe .aboutQuote .fa-quote-left {
    position: absolute;
    left: 80px;
    top: 245px;
  }
  #section01 .aboutMe .aboutQuote .fa-quote-right {
    position: absolute;
    right: 80px;
    top: 290px;
  }
  #section01 .aboutMe .aboutJob .jobBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #section01 .aboutMe .aboutJob .jobBox .year {
    width: 40vw;
    padding-right: 0.8rem;
    font-size: 0.9rem;
  }
  #section01 .aboutMe .aboutJob .jobBox .text {
    width: 60vw;
  }
}
@media (min-width: 992px) {
  #section01 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #section01 .aboutMeImg {
    display: block;
    width: 50vw;
    height: 100vh;
    background: #333 url("../images/dainphoto.jpg") no-repeat center/200% 100%;
  }
  #section01 .aboutMe {
    width: 50vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    padding-top: 120px;
  }
  #section01 .aboutMe .aboutQuote {
    font-size: 1.4rem;
    height: 3.5rem;
    line-height: 3.5rem;
    position: relative;
  }
  #section01 .aboutMe .aboutQuote .fa-quote-left {
    font-size: 1rem;
    position: absolute;
    left: 10px;
    top: -10px;
  }
  #section01 .aboutMe .aboutQuote .fa-quote-right {
    font-size: 1.2rem;
    position: absolute;
    right: 10px;
    top: 40px;
  }
  #section01 .aboutMe .aboutInfo {
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0;
    text-indent: 2.5rem;
  }
  #section01 .aboutMe .aboutJob {
    padding: 1.2rem 0;
  }
  #section01 .aboutMe .aboutJob .jobBox {
    border-bottom: none;
  }
  #section01 .aboutMe .aboutJob .jobBox .year h5 {
    font-size: 0.8rem;
  }
  #section01 .aboutMe .aboutJob .jobBox .text h4 {
    font-size: 1rem;
  }
  #section01 .aboutMe .aboutJob .jobBox .text p {
    font-size: 0.8rem;
  }
}
@media (min-width: 1200px) {
  #section01 .aboutMe {
    padding: 2rem;
    padding-top: 150px;
  }
}
@media (min-width: 1400px) {
  #section01 .aboutMe {
    padding: 5rem;
    padding-top: 150px;
  }
}

/* section02 websit --------------------------------------------------------------------------------------- */
#section02 {
  padding: 0 1.8rem;
  padding-top: 80px;
  background: rgba(157, 157, 156, 0.3);
}
#section02 h2 {
  text-align: center;
  margin-bottom: 1.8rem;
}
#section02 .webGroupAll .web {
  height: 220px;
  position: relative;
}
#section02 .webGroupAll .web a {
  position: relative;
}
#section02 .webGroupAll .web a span {
  color: #fff;
  text-align: center;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#section02 .webGroupAll .web a span:nth-child(1) {
  font-size: 1.2rem;
}
#section02 .webGroupAll .web a span:nth-child(2) {
  color: rgba(243, 217, 207, 0.9);
  font-size: 0.9rem;
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#section02 .webGroupAll .web a::before {
  content: "";
  width: 100%;
  height: 220px;
  position: absolute;
  background: #B07F6B;
  opacity: 0;
}
#section02 .webGroupAll .web a:hover::before {
  opacity: 0.9;
}
#section02 .webGroupAll .web a:hover span {
  opacity: 1;
}
#section02 .webGroupAll .web a img {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  #section02 {
    padding: 0 1.8rem;
    padding-top: 80px;
    background: rgba(157, 157, 156, 0.3);
  }
  #section02 h2 {
    text-align: center;
    margin-bottom: 0rem;
  }
  #section02 .webGroupAll .web {
    height: 160px;
    position: relative;
  }
  #section02 .webGroupAll .web a {
    position: relative;
  }
  #section02 .webGroupAll .web a span {
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section02 .webGroupAll .web a span:nth-child(1) {
    font-size: 1rem;
  }
  #section02 .webGroupAll .web a span:nth-child(2) {
    color: rgba(243, 217, 207, 0.9);
    font-size: 0.8rem;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section02 .webGroupAll .web a::before {
    content: "";
    height: 160px;
    position: absolute;
    background: #B07F6B;
    opacity: 0;
  }
  #section02 .webGroupAll .web a:hover::before {
    opacity: 0.9;
  }
  #section02 .webGroupAll .web a:hover span {
    opacity: 1;
  }
  #section02 .webGroupAll .web a img {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 1400px) {
  #section02 {
    padding: 0 1.8rem;
    padding-top: 80px;
    background: rgba(157, 157, 156, 0.3);
  }
  #section02 h2 {
    text-align: center;
    margin-bottom: 1.8rem;
  }
  #section02 .webGroupAll .web {
    height: 220px;
    position: relative;
  }
  #section02 .webGroupAll .web a {
    position: relative;
  }
  #section02 .webGroupAll .web a span {
    color: #fff;
    text-align: center;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: -50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section02 .webGroupAll .web a span:nth-child(1) {
    font-size: 1.2rem;
  }
  #section02 .webGroupAll .web a span:nth-child(2) {
    color: rgba(243, 217, 207, 0.9);
    font-size: 0.9rem;
    position: absolute;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #section02 .webGroupAll .web a::before {
    content: "";
    height: 220px;
    position: absolute;
    background: #B07F6B;
    opacity: 0;
  }
  #section02 .webGroupAll .web a:hover::before {
    opacity: 0.9;
  }
  #section02 .webGroupAll .web a:hover span {
    opacity: 1;
  }
  #section02 .webGroupAll .web a img {
    width: 100%;
    height: 100%;
  }
}

/* section03 uiux--------------------------------------------------------------------------------------- */
#section03 {
  padding: 0 1.8rem;
  padding-top: 65px;
}
#section03 h2 {
  text-align: center;
  margin-bottom: 1.8rem;
}
@media (min-width: 768px) {
  #section03 .card-title {
    font-size: 1rem;
  }
  #section03 .card-text {
    font-size: 0.8rem;
  }
}

/* section04 graphic Design--------------------------------------------------------------------------------------- */
#section04 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1.8rem;
  padding-top: 80px;
  background: rgba(243, 217, 207, 0.5);
}
#section04 h2 {
  text-align: center;
  margin-bottom: 1.8rem;
}
#section04 .graphicGroup .graphic:nth-child(1) .graBox {
  height: 120px;
  background: rgba(176, 127, 107, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}
#section04 .graphicGroup .graphic:nth-child(1) .graBox img {
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
#section04 .graphic:nth-child(2) .showBoxInfo {
  width: 100%;
}
#section04 .graphic:nth-child(2) .showBoxInfo .graBoxBig {
  height: 500px;
  background: rgba(176, 127, 107, 0.3);
  margin-bottom: 1rem;
}
#section04 .graphic:nth-child(2) .showBoxInfo .graBoxBig img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#section04 .graphic:nth-child(2) .showBoxInfo .title {
  font-size: 2rem;
}
#section04 .graphic:nth-child(2) .showBoxInfo .subtitle {
  font-size: 1.2rem;
  font-weight: 300;
  color: #B07F6B;
}
#section04 .graphic:nth-child(2) .showBoxInfo .description {
  font-size: 1rem;
  color: #575756;
}
@media (min-width: 768px) {
  #section04 .graphicGroup .graphic:nth-child(1) {
    padding: 0;
  }
  #section04 .graphicGroup .graphic:nth-child(1) .graBox {
    width: calc(33.3333333333% - 0.6rem);
    height: 180px;
    background: rgba(176, 127, 107, 0.1);
    margin: 0.3rem;
    padding: 0.35rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow: hidden;
  }
  #section04 .graphicGroup .graphic:nth-child(1) .graBox:hover {
    padding: 0;
  }
  #section04 .graphicGroup .graphic:nth-child(1) .graBox img {
    height: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo {
    width: 100%;
    padding-top: 0.3rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .graBoxBig {
    height: 300px;
    background: rgba(176, 127, 107, 0.3);
    margin-bottom: 1rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .graBoxBig img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .title {
    font-size: 2rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: #B07F6B;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .description {
    font-size: 1rem;
    color: #575756;
  }
}
@media (min-width: 1400px) {
  #section04 .graphicGroup .graphic:nth-child(1) .graBox {
    width: calc(33.3333333333% - 1rem);
    height: 220px;
    background: rgba(176, 127, 107, 0.1);
    margin: 0.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    float: left;
    overflow: hidden;
  }
  #section04 .graphicGroup .graphic:nth-child(1) .graBox img {
    width: 100%;
    height: 100%;
    -o-object-fit: scale-down;
       object-fit: scale-down;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo {
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .graBoxBig {
    width: 700px;
    height: 500px;
    background: rgba(176, 127, 107, 0.3);
    margin-bottom: 1rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .graBoxBig img {
    width: 700px;
    height: 500px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .title {
    font-size: 2rem;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    color: #B07F6B;
  }
  #section04 .graphicGroup .graphic:nth-child(2) .showBoxInfo .description {
    font-size: 1rem;
    color: #575756;
  }
}

/* section05 illustration--------------------------------------------------------------------------------------- */
#section05 {
  padding: 0 1.8rem;
  padding-top: 80px;
}
#section05 h2 {
  text-align: center;
}
#section05 .illustraGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#section05 .illustraGroup .card {
  margin: 20px 10px;
}
#section05 .illustraGroup img {
  width: 100%;
}
#section05 .illustraGroup .card-img-top {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: 200px;
  background-color: rgba(223, 228, 238, 0.2);
}

/* about me ----------------------------- */
.aboutMeWrap h1 {
  text-align: center;
  margin-top: 1.5rem;
}
.aboutMeWrap .returnBtn {
  font-size: 1.2rem;
}
.aboutMeWrap .returnBtn a {
  text-decoration: none;
  padding: 10px 20px;
  background: #B07F6B;
  color: #fff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
}