/* home --------------------------------------------------- */
#home {
  margin-top: 63px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;

  .info {
    font-weight: 700;
    position: absolute;
    top: 4%;

    h1 {
      line-height: 3rem;
      span {
        font-size: 1.6rem;
      }
    }

    .sayHi {
      font-size: 1.2rem;
      font-weight: 300;
    }

    .jobTitle {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .quote {
      font-size: 1rem;
      font-weight: 300;
    }
  }

  .imgPlace {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    .dianImg {
      width: 280px;
      height: 280px;
      background: url('../images/dianImg.jpg') no-repeat center/100%;
      border-radius: 50%;

      &::before {
        content: '';
        width: 500px;
        height: 280px;
        background: $color_primary;
        position: absolute;
        right: -350px;
        z-index: -1;
      }
    }
  }

  .bgDec{

    .jobName {
      font-size: 5rem;
      font-weight: 700;
      color: rgba($color: $color_grey, $alpha: 0.15);
      position: absolute;
      left: 50%;
      bottom: 24%;
      transform: translateX(-50%);
    }

    .material-icons {
      font-size: 2.5rem;
      color: $color_grey_light;
      position: absolute;
      bottom: 17%;
      z-index: 1;
    }

    .block {
      width: 100px;
      height: 100px;
      background: $color_primary;
      border-radius: 50%;
      position: absolute;
      bottom: 12%;
      left: 100px;

      &::before {
        content: '';
        width: 200px;
        height: 100px;
        background: $color_primary;
        position: absolute;
        right: 50px;
      }
    }
  }

  @include md {
    .info {
      position: absolute;
      top: 10%;
    }
    .imgPlace {
      position: absolute;
      top: 32%;
      left: 50%;
      transform: translateX(-50%);
      display: flex;

      .dianImg {
        width: 320px;
        height: 320px;
        background: url('../images/dianImg.jpg') no-repeat center/100%;
        border-radius: 50%;

        &::before {
          content: '';
          width: 500px;
          height: 320px;
          background: $color_primary;
          position: absolute;
          right: -320px;
          z-index: -1;
        }
      }
    }
    .bgDec{
      .material-icons {
        bottom: 25%;
      }

      .jobName {
        font-size: 7rem;
        font-weight: 700;
        color: rgba($color: $color_primary, $alpha: 0.8);
        position: absolute;
        left: 55%;
        bottom: 9%;
        transform: translateX(-50%);
      }
  
      .block {
        width: 100px;
        height: 100px;
        background: $color_primary;
        border-radius: 50%;
        position: absolute;
        bottom: 12%;
        left: 50px;
  
        &::before {
          content: '';
          width: 200px;
          height: 100px;
          background: $color_primary;
          position: absolute;
          right: 50px;
        }
      }
    }
  }

  @include lg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .info {
      position: absolute;
      left: 30%;
      top: 50%;
      transform: translate(-50%,-50%);

      h1 {
        font-size: 3rem;
        line-height: 3.2rem;
        span {
          font-size: 2.4rem;
        }
      }
      .jobTitle {
        font-size: 1.8rem;
        color: $color_func;
      }
      .sayHi {
        font-size: 1.8rem;
        color: rgba($color: $color_grey, $alpha: 0.7);
      }
      .quote {
        font-size: 1.2rem;
        color: rgba($color: $color_grey, $alpha: 0.7);
      }
    }
    .imgPlace {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%,-50%);
      display: flex;

      .dianImg {
        width: 350px;
        height: 350px;
        position: relative;

        &::before {
          content: '';
          width: 600px;
          height: 122vh;
          background: rgba($color: $color_primary, $alpha: 0.7);
          position: absolute;
          top: -100%;
          right: -425px;
        }
      }
    }

    .bgDec{
      .material-icons {
        width: 60px;
        height: 60px;
        text-align: center;
        line-height: 60px;
        bottom: 15%;
        border-radius: 50%;
        border: 2.5px solid rgba($color: $color_grey_light, $alpha: 0.6);
      }

      .jobName {
        font-size: 12rem;
        font-weight: 700;
        color: rgba($color: $color_grey_light, $alpha: 0.2);
        position: absolute;
        left: 50%;
        bottom: 60%;
        transform: translateX(-50%);
        z-index: -1;
      }
  
      .block {
        display: none;
      }
    }

  }

  @include xl {
    overflow-x: hidden;

    .info {
      h1 {
        font-size: 5rem;
        line-height: 6rem;
      }
      .quote {
        font-size: 1.6rem;
      }
    }

    .imgPlace {
      position: absolute;
      top: 50%;
      left: 70%;
      transform: translate(-50%,-50%);
      display: flex;

      .dianImg {
        width: 400px;
        height: 400px;
        position: relative;

        &::before {
          content: '';
          width: 600px;
          height: 122vh;
          background: rgba($color: $color_primary, $alpha: 0.7);
          position: absolute;
          top: -100%;
          right: -390px;
        }
      }
    }

    .bgDec{

      .jobName {
        font-size: 15rem;
      }
  
      .block {
        display: none;
      }
    }
  }
}