/* section05 illustration--------------------------------------------------------------------------------------- */ 
#section05 {
  padding: 0 1.8rem;
  padding-top: 80px;

  h2 {
    text-align: center;
  }

  .illustraGroup {
    // width: calc( 100% / 5 - 20px );
    // height: 350px;
    
    display: flex;
    flex-wrap: wrap;
    
    // float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;

    .card {
      width: calc( 100% / 5 - 20px );
      margin: 20px 10px;
    }
    img {
      width: 100%;
    }

    .card-img-top {
      object-fit: contain;
      object-position: center;
      height: 200px;
      background-color: rgba($color: $color_secondary, $alpha: 0.2);
    }
    // margin: .5rem;
    
    // .card {
    //   // border: none;
    //   // border-radius: 0;
    //   // padding: 1rem;
    //   .card-body {
    //     // padding: 0.5rem 1rem 0;
    //   }
    //   .card-title {
    //     margin-bottom: 0;
    //     text-align: center;
    //     font-size: 1.2rem;
    //     color: black;
    //   }
    // }
  }
  
}