/* navbar導覽列 --------------------------------------------------------------------------------------- */ 
.dianNav {
  background: #fff;
  font-family: 'Noto Sans TC', sans-serif;

  .container {
    justify-content: space-around;
  }

  .sidebar {
    justify-content: center;
  }

  .nav-link {
    font-size: 1.125rem;
    text-align: center;
    color: $color_grey;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: .5s;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.8px;
      background: $color_func;
      transform: scale(0);
      transition: .3s;
    }
    &:hover {
      color: $color_func !important;
      // background: $color_func;
      &::before {
        transform: scale(1);
      }
    }
    &.active{
      font-weight: bolder;
      color: $color_func !important;
      // background: $color_func;
      &::before {
        transform: scale(1);
      }
    }
  }

  @include md {
    .sidebar {
      justify-content: flex-end;
    }
  }


}

.dianNavbar {
  background: $color_white;
  .collapse {
    justify-content: space-between;
  }

  .container {
    padding: 0 1.25rem;
    @include sm {
      padding: 0;
    }
  }

}