/* section02 websit --------------------------------------------------------------------------------------- */ 
#section02 {
  padding: 0 1.8rem;
  padding-top: 80px;
  background: rgba($color: $color_grey_light, $alpha: 0.3);

  h2 {
    text-align: center;
    margin-bottom: 1.8rem;
  }

  .webGroupAll {
    .web {
      height: 220px;
      position: relative;

      a {
        position: relative;

        span {
          color: #fff;
          text-align: center;
          opacity: 0;
          z-index: 1;
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
          &:nth-child(1) {
            font-size: 1.2rem;
          }
          &:nth-child(2) {
            color: rgba($color: $color_primary, $alpha: 0.9);
            font-size: .9rem;
            position: absolute;
            top: -20px;
            left: 50%;
            transform: translateX(-50%);
          }
        }

        &::before {
          content: '';
          width: 100%;
          height: 220px;
          position: absolute;
          background: $color_func;
          opacity: 0;
        }
        &:hover::before {
          opacity: .9;
        }  
        &:hover {
          span {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

    }

  }

  @include md {
    padding: 0 1.8rem;
    padding-top: 80px;
    background: rgba($color: $color_grey_light, $alpha: 0.3);

    h2 {
      text-align: center;
      margin-bottom: 0rem;
    }

    .webGroupAll {
      .web {
        height: 160px;
        position: relative;

        a {
          position: relative;

          span {
            color: #fff;
            text-align: center;
            opacity: 0;
            z-index: 1;
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            &:nth-child(1) {
              font-size: 1rem;
            }
            &:nth-child(2) {
              color: rgba($color: $color_primary, $alpha: 0.9);
              font-size: .8rem;
              position: absolute;
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &::before {
            content: '';
            height: 160px;
            position: absolute;
            background: $color_func;
            opacity: 0;
          }
          &:hover::before {
            opacity: .9;
          }  
          &:hover {
            span {
              opacity: 1;
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

      }

    }
  }

  @include xxl {
    padding: 0 1.8rem;
    padding-top: 80px;
    background: rgba($color: $color_grey_light, $alpha: 0.3);

    h2 {
      text-align: center;
      margin-bottom: 1.8rem;
    }

    .webGroupAll {
      .web {
        height: 220px;
        position: relative;

        a {
          position: relative;

          span {
            color: #fff;
            text-align: center;
            opacity: 0;
            z-index: 1;
            position: absolute;
            top: -50px;
            left: 50%;
            transform: translateX(-50%);
            &:nth-child(1) {
              font-size: 1.2rem;
            }
            &:nth-child(2) {
              color: rgba($color: $color_primary, $alpha: 0.9);
              font-size: .9rem;
              position: absolute;
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
            }
          }

          &::before {
            content: '';
            height: 220px;
            position: absolute;
            background: $color_func;
            opacity: 0;
          }
          &:hover::before {
            opacity: .9;
          }  
          &:hover {
            span {
              opacity: 1;
            }
          }

          img {
            width: 100%;
            height: 100%;
          }
        }

      }

    }
  }
  
}



// #section02{
//   padding: 0 1.8rem;
//   padding-top: 65px;
//   background: rgba($color: $color_primary, $alpha: 0.5);
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;

//   h2 {
//     margin-bottom: 1rem;
//     color: $color_grey;
//   }

//   .webBox {
//     width: 340px;
//     height: 200px;
//     background: rgba($color: $color_primary, $alpha: 0.5) url("../images/backpacking.jpg") no-repeat center/120%;
//     margin-bottom: 1rem;

//     .webInfo{
//       display: none;
//     }

//     // &::before {
//     //   content: '';
//     //   width: 340px;
//     //   height: 200px;
//     //   position: absolute;
//     //   background: $color_func;
//     //   opacity: 0;
//     // }
//     // &:hover::before {
//     //   opacity: .7;
//     // }
//   }

//   .webGroup:nth-child(2) {
//     .webBox:nth-child(1) {
//       background: url("../images/pomodoro.jpg") no-repeat center/120%;
//     }

//     .webBox:nth-child(2) {
//       background: url("../images/summerKeydown.png") no-repeat center/120%;
//     }
//   }

//   .webBtn {
//     width: 70%;
//     height: 60px;
//     font-size: 1.2rem;
//     text-align: center;
//     line-height: 60px;
//     color: $color_func;
//     border: 3px solid $color_func;

//     .material-icons {
//       font-size: 1rem;
//       line-height: 60px;
//     }
//   }



//   @include md {

//   }


//   @include lg {
//     .webGroupAll {
//       width: 100vw;
//       padding-right: 1.8rem;
//       padding-left: 1.8rem;
//       display: flex;
//       flex-direction: row;
//       justify-content: center;
//       align-items: center;

//       .webGroup:nth-child(1) {
//         width: 80vw;
//         height: 100%;
//         background: #000;
//       }

//       .webGroup:nth-child(2) {
//         // width: 20vw;
//       }
//     }
//   }

// }